.app-title-container{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .app-title{
    text-align: center;
    align-items: center;
    height: 40px;
  }
  
  .notes-container{
    padding: 10px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: 400px;
    overflow-y: scroll;
    margin-top: 50px;
  }
  
  .note-editor-container{
    padding: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
     height: 280px;
    margin-top: 100px;
  }
  
  .add-note-button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .footer-container{
    text-align: center;
  }