.app-title-container{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .app-title{
    text-align: center;
    align-items: center;
    height: 40px;
  }
  
  .notes-container{
    padding: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: 400px;
    overflow-y: scroll;
    margin-top: 30px;
  }
  .notes-container-item{
    box-shadow: 0 0 2px 1px white ;
      background-color: black;
      padding: 5px;
      margin-bottom: 20px;
      border-radius: 5px;
  }
  .note-editor-container{
    padding: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
     height: 280px;
    margin-top: 80px;
  }
  .note-editor-container-item{
      box-shadow: 0 0 2px 1px white ;
      background-color: black;
      padding: 5px;
      border-radius: 5px;
  }

  .add-note-button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 300px;
  }
  .footer-container{
    text-align: center;
  }
  .costum-col{
    width: 450px;
    margin: 20px;
  }
  .costum-row{
    margin-top: 30px;
    margin-bottom: 20px;
  }